.main-content {
  flex-grow: 1;
  padding-left: 200px; /* Adjust for sidebar width */
  padding-top: 60px; /* Adjust for navbar height */
  padding-bottom: 60px; /* Adjust for footer height */
  overflow: auto; /* Ensure scrolling */
  background-color: #f4f4f4; /* Light grey background */
}

/* Optional: Adjust body background color if needed */
body {
  background-color: #eaeaea; /* Slightly darker grey for the body */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Optional: Add background color for the white cards */
.product-card {
  background-color: #ffffff; /* White background for cards */
}
